/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    background: linear-gradient(135deg, #e0e0e0, #ffffff); // Light gray to white gradient
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }
  